.app-header {
    background: $header-grad;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: $clr-txt;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 80px;
    // padding-inline: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

    .logo {
        height: 100%;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .25rem;
        padding: 1rem;

        img {
            border-radius: 50%;
        }
    }

    nav {
        display: flex;
        gap: .75rem;
    }

    @media (max-width: 640px) {
        nav {
            display: none;
        }
    }

    

    // .btn-logout {
    //     border-radius: 50%;
    //     margin: 0;
    //     padding: 8px;

    //     &:hover {
    //         background-color: rgba(232, 234, 246, 0.04);
    //     }

    //     img {
    //         height: 24px;
    //         width: 24px;
    //         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    //     }
    // }

}