.app-footer {
    background-color: $clr-primary1;
    padding: 1rem;
    text-align: start;

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: $clr-accent;

            // span {
            //     color: $clr-white;
            // }
        }

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .contact-info {
            margin-bottom: 1rem;
            display: flex;
            gap: .5rem;
            flex-direction: column;
            align-items: start;

            .info {
                display: flex;
                gap: .5rem;
                align-items: center;
            }

            img {
                width: 16px;
                height: 16px;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }

            a {
                color: #007BFF;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            @media (max-width: 768px) {
                align-items: center;

            }
        }
    }

    .footer-bottom {
        border-top: 1px solid #ddd;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        nav {
            display: flex;
            gap: 1rem;
            color: $clr-light;
        }

        .links {
            .social-icon {
                width: 30px;
                height: 30px;
                margin: 0 0.5rem;
            }
        }
    }

    @media (max-width: 640px) {

        .footer-content {
            p {
                text-align: center;
            }
        }

        .footer-bottom {

            nav {
                display: none;
            }

            justify-content: center;
        }
    }
}