@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    35% {
        transform: translateY(-15px);
    }
}

.hero {
    display: flex;
    padding: 1rem;

    .pill {
        background-color: $clr-accent-light;
        color: $clr-secondary;
        width: max-content;
        padding: .5rem 1rem;
        border-radius: 1rem;
    }

    .btn-contact {
        img {
            width: 20px;
            height: 20px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }
    }

    .imgs {
        position: relative;

        .hero-bg {
            position: absolute;
            width: 100%;
            transform: rotate(-180deg);
            top: 0;
            left: 0;
            z-index: -3;
        }
    }

    @media (max-width: 640px) {
        position: relative;
        // height: 500px;

        h3 {
            font-size: 2.5rem;
        }

        .txt {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
        }

        .imgs {
            position: absolute;
            opacity: 0.6;
            height: 100%;
            z-index: -2;

            .hero-bg {
                height: 70%;
                transform: rotate(-180deg);
            }

            .hero-img {
                height: 50%;
            }
        }

        .btn-contact {
            margin: auto;
            margin-top: 2rem;
        }

        p {
            color: $clr-dark-gray;
        }
    }
}